<footer class="footer">
  <nav class="footer">
    <a class="footer_link" [routerLink]="['/countries-list']">Countries</a>
    <a class="footer_link" [routerLink]="['/login']">Login</a>
    <a class="footer_link" [routerLink]="['/register']">Register</a>
    <a class="footer_link" [routerLink]="['/about']">About</a>
    <a class="footer_link" [routerLink]="['/contact']">Contact</a>
  </nav>
  <p class="footer_p">
    ©2023 Andreu Rodríguez | All Rights Reserved |
    <a class="footer_link" href="https://www.linkedin.com/in/andreurodr/"
      >LinkedIn</a
    >
  </p>
</footer>
